#wrap {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    // overflow: hidden;

    .mainlist {
        width: 240px;
        height: 100%;
        // background-color: skyblue;
        overflow: auto;
    }

    .mainlist-none {
        display: none;
    }

    // @keyframes move_left {
    //     from {
    //         opacity: 1;
    //     }

    //     to {
    //         opacity: 0;
    //         -webkit-transform: translateX(-240px);
    //         transform: translateX(-240px);
    //     }
    // }

    // @-webkit-keyframes move_left {
    //     from {
    //         opacity: 1;
    //     }

    //     to {
    //         opacity: 0;
    //         -webkit-transform: translateX(-240px);
    //         transform: translateX(-240px);
    //     }
    // }

    // .move_left {
    //     // width: 240px;
    //     // height: 100%;
    //     // overflow: auto;
    //     display: none;
    //     // -webkit-animation-name: move_left;
    //     animation-name: move_left;
    //     // -webkit-animation-duration: 1s;
    //     animation-duration: 3s;
    //     // -webkit-animation-iteration-count: 1;
    //     animation-iteration-count: 1;
    //     // -webkit-animation-fill-mode: forwards;
    //     animation-fill-mode: forwards;
    // }

    #maincontent {
        height: 100%;
        // width: calc("100% - 240px");
        flex: 1;
        overflow: auto;
        // position: relative;
        // background-color: pink;

    }

    #icondiv {
        position: absolute;
        top: 10px;
        cursor: pointer;
        z-index: 10;
        // transition: color 3s;
        // animation:mymove 5s infinite;
    }
}