#sidelayout {
    height: 100%;
}

#sidelayout .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

#sidelayout .trigger:hover {
    color: #1890ff;
}

#sidelayout .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url('../assets/images/logo.png');
    /* background-repeat: no-repeat; */
}

#sidelayout .site-layout .site-layout-background {
    background: #fff;
}

#sidelayout .ant-menu .last-menu {
    position: fixed;
    bottom: 10px;
}